################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
*.vsidx
*.suo
/TrackerBackOfficTrader/.vs/TrackerBackOfficTrader/v17/DocumentLayout.backup.json
/TrackerBackOfficTrader/.vs/TrackerBackOfficTrader/v17/DocumentLayout.json
/TrackerBackOfficTrader/Tracker.Backend.Api/bin/Debug/net8.0
/TrackerBackOfficTrader/Tracker.Backend.Api/obj
/TrackerBackOfficTrader/.vs/TrackerBackOfficTrader/config/applicationhost.config
/TrackerBackOfficTrader/Tracker.Backend.Domain/bin/Debug/net8.0
/TrackerBackOfficTrader/Tracker.Backend.Domain/obj
/TrackerBackOfficTrader/Tracker.Backend.Infrustructure/obj
/TrackerBackOfficTrader/Tracker.Backend.LegacyService/bin
/TrackerBackOfficTrader/Tracker.Backend.LegacyService/obj/Debug
/TrackerBackOfficTrader/Tracker.Backend.Infrustructure/bin/Debug/net8.0
*.wsuo
/.vs/TrackerBackOfficeReporting/v17/DocumentLayout.json
/TrackerBackOfficTrader/.vs/ProjectEvaluation
/TrackerBackOfficTrader/.vs/TrackerBackOfficTrader
/TrackerBackOfficTrader/Trader.Backend.Api/bin/Debug/net8.0
/TrackerBackOfficTrader/Trader.Backend.Api/obj
/TrackerBackOfficTrader/Tracker.Backend.Api/Tracker.Backend.Api.csproj
/TrackerBackOfficTrader/Tracker.Backend.Api/appsettings.Development.json
/TrackerBackOfficTrader/Tracker.Backend.Api/Properties/launchSettings.json
/TrackerBackOfficTrader/Tracker.Backend.Api/appsettings.json
/TrackerBackOfficTrader/Tracker.Backend.Api/Dockerfile
/TrackerBackOfficTrader/Tracker.Backend.Api/Program.cs
/TrackerBackOfficTrader/Tracker.Backend.Api/Tracker.Backend.Api.csproj.user
/TrackerBackOfficTrader/Tracker.Backend.Api/Tracker.Backend.Api.http
/TrackerBackOfficTrader/Tracker.Backend.Domain/Tracker.Backend.Domain.csproj
/TrackerBackOfficTrader/Tracker.Backend.Infrustructure/Tracker.Backend.Infrustructure.csproj
/TrackerBackOfficTrader/Tracker.Backend.Api/appsettings.json
/TrackerBackOfficTrader/Tracker.Backend.Api/Tracker.Backend.Api.csproj
/TrackerBackOfficTrader/packages/EntityFramework.6.2.0
